* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-size: 40px;
    color: cornflowerblue;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}

body {
    background: linear-gradient(rgba(96, 7, 168, 0.4), transparent 1px),
        linear-gradient(90deg, rgba(96, 7, 168, 0.4), transparent 1px);
    background-size: 30px 30px;
}

.head_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#small_wrapper {
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}

.box_cell {
    width: 100px;
    height: 100px;
    border: 1px solid brown;
    font-size: 36px;
    color: rgb(87, 11, 131);
    display: flex;
    justify-content: center;
    align-items: center;
}


#modal_wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

#bord {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(5, 62, 248, 0.5);
}

#modal_window {
    width: 200px;
    height: 200px;
    background-color: greenyellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

#content {
    color: rgb(43, 5, 53);
    font-size: 40px;
    text-align: center;
    font-style: italic;
    margin: auto;
}

#btn {
    width: 200px;
    height: 25px;
    background-color: rgba(233, 113, 159, 0.433);
    color: rgb(253, 104, 5);
    cursor: pointer;
    text-align: center;
}